.sign-in {
	width: 380px;
	display: flex;
	flex-direction: column;

	.title {
		margin: 14px 0;
		font-weight: 500;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
	}
}
